body
{
	background-color: grey;
}
#page
{
	background-color: white;
	width: 900px;
	height: 1200px;
	margin: auto;
	margin-top: 20px;
	border: 2px back solid;
}

header
{
	width: 900px;
	height: 100px;
	background-color: blue;
}

#partie_gauche
{
	width: 590px;
	height: 1100px;
	background-color: white;
	display: inline-block;
}

#partie_droite
{
	width: 290px;
	height: 1100px;
	display: inline-block;
	background-color: white;
	/*border: 2px solid black;*/
	float: right;
}

#bandeau
{
	width: 580px;
	height: 90px;
	margin: auto;
	background-color: black;
	margin-top: 5px;
}

#une
{
	width: 580px;
	height: 150px;
	/*border: 2px black solid;*/
	margin: auto;
	margin-top: 5px;
}

#blocune
{
	height: 450px;
	margin: auto;
	display: inline-block;
}

.laune
{
	display: inline-block;
	width: 186.67px;
	height: 146px;
	border: 2px black solid;
}

#flash
{
	height: 50px;
	width: 580px;
	border: 2px black solid;
	margin: auto;
	margin-top: 10px;
}

#meilleurjeu_info
{
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	margin-left: 4px;
}

#meilleurjeu
{
	border: 2px black solid;
	height: 300px;
	width: 210px;
	display: inline-block;
}

#info
{
	border: 2px black solid;
	height: 300px;
	width: 360px;
	display: inline-block;
}

#archive_event
{
	border: 2px black solid;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 350px;
	height: 20px;
}

#dossier
{
	width: 580px ;
	height: 120px ;
	margin: auto;
	/*border: 2px black solid;*/
}

#troisdossiers
{
	/*border: 2px black solid;*/
	width:550px;
	height: 110px;
	margin: auto;
	margin-top: 3px;
}

.imgdossier
{
	border: 2px black solid;
	display: inline-block;
	width: 176px;
	height: 100px;
	margin: auto;
	margin-top: 5px;
}

#bloctestmembre
{
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	margin-left: 4px;
}

#test
{
	border: 2px black solid;
	height: 220px;
	width: 360px;
	display: inline-block;
}

#membre
{
	border: 2px black solid;
	height: 220px;
	width: 210px;
	display: inline-block;
}

#blocvideo
{
	width: 280px;
	height: 300px;
	margin: auto;
	margin-top: 10px;
	/*border: 2px black solid;*/
}

.video
{
	width: 278px;
	height: 56px;
	border: 2px black solid;
}

#categorie
{
	width: 200px;
	height: 20px;
	margin: auto;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 15px;
}

#calendar
{
	width: 280px;
	height: 280px;
	margin: auto;
	border: 2px solid black;
}